<<<<<<< HEAD
<%- include('includes/head') %>


<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-5">
      <h1 class="display-1 text-center">Erro 404!</h1>
      <p class="text-center lead">A página que você procura não existe.</p>
    </div>
    
    <div class="col-lg-2"></div>
  </div>
</div>

=======
<%- include('includes/head') %>


<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-5">
      <h1 class="display-1 text-center">Erro 404!</h1>
      <p class="text-center lead">A página que você procura não existe.</p>
    </div>
    
    <div class="col-lg-2"></div>
  </div>
</div>

>>>>>>> ccd03ac24e4bb59c76e7e39cdca504f8362e8298
<%- include('includes/footer') %>